<div class="profile-show-background"></div>
<div class="profile-show-container">
  <div class="buffer-box"></div>
<div id="profile-container">
  <div class="profile-color-background">
    <div class="upper-profile-box">
      <div class="profile-avatar-box">
        <%=  cl_image_tag @user.photo, height: 240, width: 240, crop: :fill, gravity: :face %>
      </div>
      <div class="profile-name">
          <h2><%= @user.first_name %>
            <%= @user.last_name %>
          </h2>
      </div>
    </div>
<!-- <%= @user.email %> -->
  </div>
  <div class="lower-user-profile">
  <div class="profile-info-container">
        <!-- <div class="profile-data"> -->
        <div class="info-elements">
          <div>
            <i class="fas fa-running icon1"></i>
            <p>Events attended <br> <%= @user.attended_events.count %>
            </p>
          </div>
          <div>
            <i class="fas fa-chess icon2"></i>
            <p>Interests</p>
            <% @user.interests.each do |interest| %>
              <p><%= interest.name  %></p>
            <% end %>
          </div>
          <div>
            <i class="fas fa-star icon3"></i>
            <p> Ratings </p>
          </div>
        </div>
      </div>
    <div class="lower-bottom-profile">
      <% if @user == current_user %>
        <%= link_to "My events", event_bookings_path(current_user), class: "btn btn-bookings" %>
      <% end %>
      <div>
        <h3>About me</h3>
          <p><%= @user.description  %></p>
      </div>
      <div class="location-box">
        <h5>Location</h5>
        <p><%= @user.location  %></p>
      </div>
    </div>
    </div>
</div>
<div class="lower-profile-buffer">
</div>
</div>

