<% @events.each do |event| %>
  <div class="col-6">
    <div class="card-trip mt-5">
      <div class="top-background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=  cl_image_path event.photo %>)">
        <div class="card-image-title">
          <%= link_to event.title, event_path(event)%>
        </div>
      </div>
    <div class="card-trip-infos">
      <div>
        <%= event.description[0..30]...%> <br>
      </div>
        <h2 class="card-trip-pricing">DKK <%= event.price %></h2>
        <%=  cl_image_tag event.user.photo, class: "card-trip-user avatar-bordered", height: 120, width: 120, crop: :fill, gravity: :face  %>
    </div>
    </div>
  </div>
<% end %>
