<h1>Edit @event.title</h1>

<%= simple_form_for [@event] do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :price%>
    <%= f.input :start_time%>
    <%= f.input :end_time%>
    <%= f.input :description %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Edit event" %>
  </div>
<% end %>


