<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513622118278-bc041b3c13ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80">
    <div class="banner-container container">
      <h1>GoMeet.</h1>
      <p>Find exiting events in Copenhagen</p>
      <div class="banner-buttons">
        <div><%= link_to  "Create event", new_event_path, class:"btn btn-flat" %></div>
        <div><%= link_to  "My Profile", profile_path(current_user), class:"btn btn-flat" %></div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-8">
  <div class="event_index_title offset-4">
    <h3 class="event_titles">Events in Copenhagen</h3>
  </div>
    <div class="row pr-5">
      <%= render 'event_card' %>
    </div>
    </div>
  <div id="index-map" class="col-4">
    <div
      id="map"
      style="width: 500px;
      height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
