<div class="new_event_buffer_box"></div>
<div class="new_event_background">
  <div class="create_event_form">
    <%= simple_form_for [@event] do |f| %>
      <div class="form-inputs col-6 offset-2">
        <%= f.input :title %>
        <%= f.input :price%>
        <%= f.input :start_time%>
        <%= f.input :end_time%>
        <%= f.input :description %>
        <%= f.input :address %>
      </div>

      <div class="form-actions create_event_button offset-2">
        <%= f.button :submit, "Create event" %>
      </div>
    <% end %>
  </div>
</div>
