<div class="container-padding header">
  <div class="row bg-white">
    <div class="col-8">
      <p>Wednesday, August 18, 2019</p>
      <h1><%= @event.title %></h1>
        <div class="time d-flex align-items-center mt-3">
          <div class="d-flex">
            <p class="mr-3">From: </p>
            <p class="mr-3"><%=  @event.start_time%></p>
            <p class="mr-3"> To: </p>
            <p><%=  @event.end_time%></p>
          </div>
        </div><!-- end time -->
        <div class="d-flex align-items-center">
          <div class="avatar-large">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
          </div>
          <div class="ml-3 d-flex">
            <p class="mr-2"><strong>Hosted by: </strong></p>
            <p class="mr-2"><%= @event.user.first_name %></p>
            <p><%= @event.user.last_name %></p>
          </div>
        </div>
      </div><!-- top left header end -->
      <div class="col-4 event-status mt-5">
        <p><strong>Are You going?</strong><span><p>4 people going</p></span></p>
          <div class="flex-container d-flex justify-content-around">
            <div class="flex-item d-flex flex-grow-1 mr-3">
              <button type="button" class="btn btn-action btn-outline-primary"><i class="fas fa-check"></i></button>
            </div>
          <div class="flex-item d-flex flex-grow-1">
            <button type="button" class="btn btn-action btn-outline-primary"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
  </div>
</div><!-- end header -->


<div class="event-show-container mt-3">
  <div class="container-margin">
    <div class="avatar-header mt-3">
      <div class="row">
        <div class="col-8">

          <div class="event-img mt-5">
            <%= image_tag "kastellet.jpg" %>
          </div>
            <div class="details mt-5">
              <h4 class="mb-4">Details</h4>
              <p><%=  @event.description%></p>
            </div>
            <section class="my-5">
              <h4 class="mb-4">Attendees (4)</h4>
              <div class="row">
                <div class="col-3">

                  <div class="card-members text-center">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-card-members", alt: "avatar-large" %>
                    <p class="card-members-name"><strong>First-name Last-name</strong></p>
                    <p class="card-members-member">Member</p>
                    <p class="card-members-events">Attended 6 events</p>
                  </div><!-- end card 1 -->

                </div>
                <div class="col-3">
                  <div class="card-members text-center">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-card-members", alt: "avatar-large" %>
                    <p class="card-members-name"><strong>First-name Last-name</strong></p>
                    <p class="card-members-member">Member</p>
                    <p class="card-members-events">Attended 6 events</p>
                  </div><!-- end card 2 -->
                </div>
                <div class="col-3">
                  <div class="card-members text-center">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-card-members", alt: "avatar-large" %>
                    <p class="card-members-name"><strong>First-name Last-name</strong></p>
                    <p class="card-members-member">Member</p>
                    <p class="card-members-events">Attended 6 events</p>
                  </div><!-- end card 2 -->
                </div>
                <div class="col-3">
                  <div class="card-members text-center">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-card-members", alt: "avatar-large" %>
                    <p class="card-members-name"><strong>First-name Last-name</strong></p>
                    <p class="card-members-member">Member</p>
                    <p class="card-members-events">Attended 6 events</p>
                  </div><!-- end card 2 -->
                </div>
            </section><!-- end section members -->
          </div>
          <div class="sidebar">
            <section class="card mb-5 bg-primary text-light" id="drchase">
              <div class="card-body">
                <h2 class="card-title">Dr. Elizabeth Chase</h2>
                <h5 class="card-subtitle">Dentistry</h5>
                <p class="card-text">Dr. Chase spends much of her free time … </p>
                <a class="card-link text-light" href="#">About Me</a>
                <a class="card-link text-light" href="#">My Pets</a>
                <a class="card-link text-light" href="#">Client Slideshow</a>
              </div>
              <img class="card-img-top img-fluid" src="images/doctor-chase.jpg"
               alt="Doctor Chase Photo">
            </section>
              </div>
          </div>
        </div>
      </div><!-- avatar-header end -->









      <p> <%=  @event.price %></p>
    </div>
  </div>



  <% if Booking.exists?(user: current_user, event: @event) %>
    <%= "You are attending"%>
  <% else  %>
    <%= link_to "Join this event", event_bookings_path(@event), method: :post %>
  <% end  %> <br>
  <%= link_to "Edit this event", edit_event_path  %> <br>
  <%= link_to "Delete this event", event_path(@event),
  method: :delete,
  data: { confirm: "Are you sure?"} %> <br>

 <%= link_to "Back to events",root_path  %> <br>
