<div class="container-padding header">
  <div class="row bg-white">
    <div class="col-8">
      <p>Wednesday, August 18, 2019</p>
      <h1 class="py-3"><%= @event.title %></h1>
        <div class="d-flex align-items-center">
          <div class="avatar-large">
            <%= cl_image_tag @event.user.photo, height: 120, width: 120, crop: :fill, gravity: :face %>
          </div>
          <div class="ml-3 d-flex">
            <p class="mr-2"><strong>Hosted by: </strong></p>
            <p class="mr-2"><%= @event.user.first_name %></p>
            <p><%= @event.user.last_name %></p>
          </div>
        </div>
      </div><!-- top left header end -->
      <div class="col-4 event-status mt-5">
        <p><strong>Are You going?</strong><span><p><%= @event.bookings.count %> people going</p></span></p>
          <div class="flex-container d-flex justify-content-around">
            <div class="flex-item d-flex flex-grow-1 mr-3">
              <button type="button" class="btn btn-action btn-outline-primary rounded"><i class="fas fa-check"></i></button>
            </div>
          <div class="flex-item d-flex flex-grow-1">
            <button type="button" class="btn btn-action btn-outline-primary"><i class="fas fa-times"></i></button>
          </div>
        </div>
      </div>
  </div><!-- end header -->
</div>

<!-- main-content left column -->
<div class="event-show-container mt-3">
  <div class="container-margin">
    <div class="avatar-header mt-3">
      <div class="row">
        <div class="col-8">
          <div class="event-img mt-5">
            <%= cl_image_tag @event.photo %>
          </div>
            <div class="details mt-5">
              <h4 class="mb-4">Details</h4>
              <p><%=  @event.description%></p>
            </div>
            <section class="my-5">
              <h4 class="mb-4">Attendees (<%= @event.bookings.count %>)</h4>
              <div class="row">
                <div class="col-3">

                  <% @event.bookings.each do |booking| %>
                  <!-- event.bookings.map(&:user) > guests -->

                  <div class="card-members text-center">
                    <%= cl_image_tag booking.user.photo, class: "avatar-card-members", alt: "avatar-large", height: 120, width: 120, crop: :fill, gravity: :face %>
                    <p class="card-members-name"><strong>First-name Last-name</strong></p>
                    <p class="card-members-member">Member</p>
                    <p class="card-members-events">Attended 6 events</p>
                  </div><!-- end card 1 -->
                  <% end  %>
                </div>
            </section>
          </div><!-- end section members -->

          <!-- sidebar-right     Aug. 17. -->
          <div class="card-info-whole sidebar col-4 mt-5 border-secondary p-0">
            <div class="card-info-top border-primary bg-white">
              <div class="time d-flex align-items-center event-sidebar-corners-top">
                <div class="text-two lines ml-3 mt-3">
                  <div class="d-flex justify-content-start ml-2">
                    <div class="card-icon-wrapper">
                      <i class="fas fa-clock text-primary"></i>
                    </div>
                    <div class="flex-item card-top-details mr-3"><%= @event.start_time.strftime("%A, %B %d, %Y") %></div>
                  </div>
                  <div class="d-flex justify-content-start ml-2">
                    <div class="card-icon-wrapper"></div>
                    <div class="card-top-details"> <%= "From: #{@event.start_time.strftime("%l:%M %p")} to #{@event.end_time.strftime("%l:%M %p")}" %></div>
                  </div>
                </div>
              </div>


                <div class="text-two lines ml-3 mt-3">
                  <div class="d-flex justify-content-start ml-2">
                    <div class="card-icon-wrapper">
                      <i class="fas fa-map-marker-alt text-primary"></i>
                    </div>
                    <div class="card-top-details"><strong><%= "#{@event.title}" %></strong></div>
                  </div>
                  <div class="d-flex justify-content-start ml-2">
                    <div class="card-icon-wrapper"></div>
                    <div class="flex-item card-top-details mr-3"><%= @event.address %></div>
                  </div>
                </div>


              </div><!-- end time -->

              <div class="card-map-bottom text-white">
                <div id="map"
                  style="width: 100%; height: 235px; border-radius: 0 0 10px 10px;"
                  data-markers="<%= @markers.to_json %>"
                  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>
              </div>






              <div class="time d-flex align-items-center event-sidebar-corners-top">

              </div><!-- end time -->

          </div>
        </div>
      </div><!-- avatar-header end -->


      <p> <%=  @event.price %></p>
    </div>
  </div>



  <% if Booking.exists?(user: current_user, event: @event) %>
    <%= "You are attending"%>
  <% else  %>
    <%= link_to "Join this event", event_bookings_path(@event), method: :post %>
  <% end  %> <br>
  <%= link_to "Edit this event", edit_event_path  %> <br>
  <%= link_to "Delete this event", event_path(@event),
  method: :delete,
  data: { confirm: "Are you sure?"} %> <br>

 <%= link_to "Back to events",root_path  %> <br>



